body {
    background-image: url(../img/blue-tile.png);
    font-family: "Segoe UI", Tahoma, sans-serif;
}

header {
    background-color: #000080;
    color: #FFFAFF;
    text-align: center;
    font-size: 50px;
    border: 3px solid #FFFAFF;
}


footer {
    background-color: #000080;
    color: #FFFAFF;
    font-size: 12px;
    border: 3px solid #FFFAFF;
    padding-left: 5px;
}

.profile {
    background-color: #3E92CC;
    text-align:center;
}

.even-row {
    background-color: #5764A5
}

h2 {
    color:#FFFAFF;
    background-color:darkblue;
    text-align:center;
    font-size: 30px;
}
ol {
    background-color:#000080;
    color: #FFFAFF;
}


.navbar {
    background-color:#FFFAFF;
    border: solid #000080;
    font-size: 20px;
    position:sticky;
    top: 0px;
}

.navbar th {
    border: solid #000080;
    padding: 5px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFAFF;
    color:#000080;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
}


.dropdown:hover .dropdown-content {
    display: block;
}

a {
    color:navy;
    text-decoration: none;
}

.active {
    background-color:lightcoral;
}